<style type="text/css">
h2{font-size:100%;margin-top:0.5em;border-top:2px solid #e0e0e0;padding-top:.5em;margin-left:1em;margin-right:1em;}
ul li{list-style:disc;font-size: 80%;margin-left:20px;}
ul li a:-webkit-any-link {
    /*text-decoration: underline;*/
    cursor: auto;
}
</style>

<h2 id="toc_0">Education</h2>

<ul>
<li><a href="http://www.zju.edu.cn/">Zhejiang University</a> – Hangzhou, China, Sep.2014 – present<br>
<em>Pursuing Ph.D degree in Computer and Technology</em></li>
<li><a href="http://www.zjut.edu.cn/">Zhejiang University of Technology</a> – Hangzhou, China, Sep.2010 – July.2014<br>
<em>B.S. in Computer and Technology, and Automation</em></li>
</ul>

<h2 id="toc_1">Professional Activities</h2>
<ul>
<li> Visiting Student at <a href="https://www.cse.cuhk.edu.hk/lyu/tiic"><strong>Shenzhen Research Institute, The Chinese University of Hong Kong</strong></a>, Mar.2014~Sept.2014<br>
<span>Memtor: <a href="http://www.zibinzheng.com/"><em>Dr. Zibin Zheng</em></a></span>
</li>
</ul>

<h2 id="toc_2">Awards</h2>

<ul>
<li>Student Travel Grant, PAKDD Conference, 2015</li>
<li>National Scholarship of China, Ministry of Education of the PRC, 2012</li>
<li>National Scholarship of China, Ministry of Education of the PRC, 2011</li>
</ul>

<h2 id="toc_3">Miscellaneous</h2>

<ul>
<li>Love playing basketball, traveling, taking photos, etc</li>
</ul>
